#==============================================================================#
#                                                                              #
#    CONFIGURATION DES SCRIPTS DE SYNCHRONISATION LDAP <-> RENATER PARTAGE     #
#                                                                              #
#==============================================================================#

# Un certain nombre de paramètres utilise un système de règles avec une syntaxe
# particulière.
#
# La règle est composée d'opérateurs de test. Chaque opérateur a la forme d'une
# liste entre parenthèses; cette liste commence par le nom de l'opérateur.
#
# Un nom ou une valeur commençant par un caractère alphabétique et ne contenant
# que des caractères alphanumériques peut être utilisé directement. Pour les
# autres valeurs, des doubles apostrophes doivent être utilisées afin de
# délimiter la valeur.
#
# Les opérateurs suivants sont disponibles:
#
#   Tests sur valeurs:
#
#	(eq nom valeur)      	Vérifie que l'attribut "nom" a la valeur
#					indiquée
#	(ne nom valeur)	     	Vérifie que l'attribut "nom" n'a pas cette
#					valeur
#	(empty nom)          	Vérifie que l'attribut "nom" n'a pas de valeur
#	(contains nom valeur)	Vérifie que l'attribut "nom" contient la valeur
#					spécifiée. Si l'attribut est une simple
#					chaîne, cet opérateur est équivallent à
#					l'opérateur 'eq' ci-dessus
#
#   Opérateurs logiques:
#
#	(and (règle) (règle) ...)	Toutes les règles sont vraies
#	(or (règle) (règle) ...)	Au moins une règle est vraie
#	(xor (règle) (règle) ...)	Une seule règle est vraie
#	(not (règle))			La règle est fausse
#
#   Valeurs constantes. Peuvent être utilisées pour déboguer par exemple.
#
#	(true)			Vrai
#	(false)			Faux
#


################################################################################
# Configuration de l'annuaire LDAP
################################################################################

[ldap]

# Nom du serveur (OBLIGATOIRE)
host=ldap2.agrocampus-ouest.fr

# Port. Par défaut, 636.
#port=636

# Utiliser SSL - 1 (défaut) ou 0
#ssl=1

# Utilisateur (OBLIGATOIRE)
# Cet utilisateur doit être en mesure de lire les mots de passe hashés
# des autres utilisateurs
user=cn=admin,dc=agrocampus-ouest,dc=fr

# Mot de passe (OBLIGATOIRE)
#pass=...

# Chemin de la liste des utilisateurs (OBLIGATOIRE)
people-dn=ou=people,dc=agrocampus-ouest,dc=fr

# Chemin de la liste des groupes (OBLIGATOIRE)
groups-dn=ou=groups,dc=agrocampus-ouest,dc=fr

# Domaine de courier électronique (OBLIGATOIRE)
mail-domain=agrocampus-ouest.fr

# Domaine à utiliser pour les eduPersonPrincipalName (OBLIGATOIRE)
eppn-domain=agrocampus-ouest.fr

# Limite sur les résultats LDAP. Utilisé pour déboguer.
#limit=40

# Sélection des comptes à synchroniser. Syntaxe de la règle décrite plus haut.
# Si la règle est absente tous les comptes seront acceptés.
#match-rule=(contains groups dsi)

# Classes des enregistrements utilisateurs (OBLIGATOIRE)
# La liste des classes LDAP utilisées pour accéder aux enregistrements des
# utilisateurs; ces classes doivent exister sur le serveur.
[ldap-people-classes]
	agrocampusPerson
	supannPerson
	eduPerson

# Classes des enregistrements groupes
# La liste des classes LDAP utilisées pour accéder aux enregistrements des
# utilisateurs; ces classes doivent exister sur le serveur.
# Si cette section n'existe pas, la classe posixGroup sera utilisée.
#[ldap-groups-classes]
#	posixGroup


################################################################################
# Chargement d'aliases supplémentaires
################################################################################

# Cette section permet le chargement d'aliases supplémentaires. Chaque entrée
# contient une commande bash qui sera exécutée afin de récupérer des fichiers
# d'alias. Si la commande contient la chaîne !configdir!, celle-ci sera
# remplacée par le nom du répertoire de configuration.
[aliases]
	#from-iris=ssh -i "!configdir!/iris.key" rsyncusr@iris echo


################################################################################
# Groupes Partage et aliases de mailing lists
################################################################################

# Cette section permet de configurer le script de synchronisation des mailing
# lists. Une commande permettant d'extraire les informations depuis un serveur
# Sympa doit être spécifiée (in fine, cette commande devrait exécuter d'une
# manière ou d'une autre le script Perl lecture-listes-sympa.pl fourni dans le
# répertoire autres_elements/), ainsi que le nom du serveur qui devra recevoir
# les messages pour les mailing lists.

[bss-groups]
	# La commande à exécuter
	command=ssh -qi "!configdir!/mlreader.key" mlreader@listes echo
	# Le domaine du serveur de mailing lists
	ml-domain=listes.agrocampus-ouest.fr



################################################################################
# Configuration des bases de données
################################################################################

#-------------------------------------------------------------------------------
# Base de données de synchronisation

[db]

# Chemin des vérous (OBLIGATOIRE)
lock-path=/run

# Chemin de la base (OBLIGATOIRE)
path=/var/lib/partage-sync

# Taille maximale en mémoire. Par défaut 200Mo.
#map-limit=209715200

#-------------------------------------------------------------------------------
# Base(s) de données SQL supplémentaires

# Chaque base de données SQL doit figurer dans une section nommée "sqldb-$titre"
[sqldb-celcat]
# Le module Python à utiliser pour se connecter à la base (OBLIGATOIRE)
python-module=pymssql
# Les paramètres à passer à la méthode de connexion. La liste des paramètres est
# spécifique au module utilisé.
server=celcat-prod
user=CELCAT-PROD\user
password=Pot de masse



################################################################################
# Configuration de l'API BSS
################################################################################

[bss]

# Mode simulation (n'effectue aucune modification chez Renater, et ne
# synchronise pas la base locale).
#simulate

# Nom de domaine BSS (OBLIGATOIRE)
domain=test-partage.agrocampus-ouest.fr

# Jeton d'authentification (OBLIGATOIRE)
token=c0ffee15600da150deadbeef15b4d34567892345678912345678912345678900

# Adresse de l'API SOAP de Zimbra. Si cette adresse n'est pas indiquée, la
# valeur par défaut (https://webmail.partage.renater.fr/service/soap) sera
# utilisée. À ne modifier que si Partage déplace ce point d'accès.
# zimbra-soap=https://webmail.partage.renater.fr/service/soap

# Nom de la classe de service par défaut (OBLIGATOIRE)
default-cos=etu_sa_agrocampus-ouest

# Temps après lequel un compte pré-supprimé sera effectivement supprimé, exprimé
# en jours. (OBLIGATOIRE)
deletion-threshold=160

# Nombre de comptes à lire en une requête lorsque l'on interroge l'API BSS.
# Valeur par défaut: 100
page-size=100

# Normalement, si le domaine BSS est différent du domaine spécifié dans le LDAP,
# les adresses seront corrigées automatiquement. Si la ligne ci-dessous n'est
# pas commentée, cette correction sera désactivée.
#dont-fix-domains

# La librairie de l'Université de Rennes qui est utilisée pour manipuler
# Partage effectue certaines vérifications sur les données envoyées à Partage.
# Parfois, ces vérifications peuvent engendrer des problèmes de synchronisation
# car des valeurs seront refusées silencieusement. On peut lister les champs
# concernés ici afin de ne pas effectuer les vérifications.
bypass-acc-check=facsimileTelephoneNumber homePhone mobile telephoneNumber

# Règles supplémentaires pour l'assignement de classe de service
# Chaque règle doit porter le nom d'une classe de service. La syntaxe à utiliser
# pour la règle elle-même est décrite en en-tête de ce fichier.
[cos-rules]
	staff_xl_agrocampus-ouest=(eq affiliation member)


################################################################################
# Configuration de la synchronisation
################################################################################

# Attributs supplémentaires: liste des attributs
[extra-attributes]
	site
	affiliation

# Attributs supplémentaires: correspondance attribut local <-> attribut LDAP
[ldap-extra-attributes]
	affiliation=eduPersonPrimaryAffiliation
	site=agrocampusSite

# Attributs supplémentaires: correspondance attribut local <-> attribut BSS
[bss-extra-attributes]
	site=l


################################################################################
# Configuration du script de consolidation
################################################################################

[consolidate]

# Nom du serveur mail sortant au travers duquel on souhaite envoyer le message.
# OBLIGATOIRE
smtp-server=localhost

# Port du serveur SMTP. Défaut 25.
#smtp-port=25

# Utiliser TLS pour l'envoi de mail?
#smtp-tls

# Utilisateur sur le serveur SMTP. Si ce champ n'est pas renseigné, aucune
# authentification n'aura lieu.
#smtp-user=...

# Mot de passe pour l'authentification SMTP. Requis si l'utilisateur est défini.
#smtp-password=...

# Adresse d'envoi du mail. OBLIGATOIRE.
mail-from=noreply@agrocampus-ouest.fr

# Nom à utiliser dans le champ From: du mail envoyé. OBLIGATOIRE.
mail-from-name=Consolidation LDAP / Partage

# Adresses auxquelles un mail sera envoyé si des problèmes sont détectés. Des
# virgules peuvent être utilisées pour séparer plusieurs adresses. OBLIGATOIRE.
mail-to=dsi@agrocampus-ouest.fr

# Ne doit-on générer un rapport HTML que s'il y a des erreurs, ou doit-on le
# générer à chaque exécution? Par défaut, on ne génère que s'il y a des erreurs.
#always-generate-report

# Chemin du répertoire dans lequel les rapports HTML seront écrits.
# OBLIGATOIRE.
report-path=/var/www/aolpsync-reports

# URL de base à laquelle les rapports seront accessibles. OBLIGATOIRE.
report-url=https://partage-sync.agrocampus-ouest.fr/consolidation/


################################################################################
# Ajout automatique de calendriers
################################################################################

# Si la section calendars n'est pas présente, la synchronisation des calendriers
# ne sera pas effectuée.
[calendars]

# Base de données SQL source (OBLIGATOIRE)
# Fait référence à une base de données SQL définie au dessus.
source=celcat

# Requête à exécuter dans la base de données (OBLIGATOIRE)
# Doit renvoyer deux valeurs par entrée: un mail et une URL
query=SELECT [email] , 'webcal://edt.agrocampus-ouest.fr/ical/ical/' + [url_postfix] + '/schedule.ics' FROM [ICALFEED].[dbo].[VUSER]

# Nom de base des calendriers (OBLIGATOIRE)
# Le nom en question sera utilisé par défaut, mais un nombre y sera ajouté s'il
# n'est pas disponible.
folder-name=Emploi du temps

# Couleur à utiliser - le code RGB de la couleur du dossier. La couleur par
# défaut sera utilisée si ce paramètre n'est pas présent.
# folder-color=ff00ff

# Drapeau d'inclusion dans la recherche de disponibilités. Si le drapeau n'est
# pas présent, le calendrier ne sera pas inclus dans la recherche.
# blocking-events


# vim: syntax=cfg
