[handlers]
keys=console

[formatters]
keys=fmt

[loggers]
keys=root,psync

[logger_root]
level=INFO
handlers=console

[logger_psync]
level=DEBUG
handlers=console
propagate=0
qualname=psync

[handler_console]
class=StreamHandler
level=DEBUG
args=(sys.stdout,)
formatter=fmt

[formatter_fmt]
format=%(asctime)s %(levelname)-8s %(name)-15s %(message)s
datefmt=
